@import "bootstrap/variables";
@import "bootstrap/mixins";

@font-face {font-family: 'Novecentosanswide-Bold';
src: url('../webfonts/2B7AD1_0_0.eot');
src: url('../webfonts/2B7AD1_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2B7AD1_0_0.woff') format('woff'),url('webfonts/2B7AD1_0_0.ttf') format('truetype');}


$headlines:'Novecentosanswide-Bold', helvetica, arial, sans-serif;
$base-color: #58C3BB;
$secondary-color: #E79911;
$medium-shade: darken($base-color, 20%);
$dark-shade: darken($medium-shade, 25%);
$headline-size: 4.5em;
$paragraph: helvetica, arial, sans-serif;
$paragraph-size: 1em;
$button-links: $paragraph-size - 0.1;
$spacer: 15px;

@mixin fonts ($font-size) {
font-family: $headlines;
font-size: $font-size;
	@if $font-size > 2em  {
	$paragraph-size: 1.2em;
	} @else {
	$paragraph-size: 1em;
	}
}

@mixin titles ($width) {
text-align: center;
margin: $spacer + 10 auto;
width: $width;
font-size: $headline-size - 2.8;
border-bottom: 8px solid $dark-shade;
padding-bottom: 8px;
}

body {
	background-color: $base-color;
	color: $dark-shade;
	padding-bottom: $spacer;	
}




article {
	h1 { @include fonts ($headline-size);
	text-align: center;
		@media (min-width: $screen-sm-min) {
		@include fonts ($headline-size * 1.5);	
		}
	}
	p { font-family: $paragraph;
		font-size: $paragraph-size;
		text-align: center;
	}
	
	.button {
	margin-top: 30px;
	font-size: $button-links;
	font-family: $paragraph;
	float: none;
		a {
		display: block;
		text-align: center;
		width: 50%;
		margin: 0 auto;
		color: darken($base-color, 60%);
		border: 1px solid #ffffff;
		padding: 10px;
			&:hover {
			text-decoration: none;
			color: #ffffff;
			}
		}
	}

	
	.dropdown {
		display: inline-block;
		width: 100%;
		margin: $spacer*1.5 0;
				
		.btn-default {
			background-image: none;
			background-color: $base-color;
			text-shadow: none;
			border-color: $dark-shade;
			box-shadow: none;
			webkit-box-shadow: none;
		}
		
		
		ul {
			
			width: 100%;
			li {
				border-bottom: 1px solid $base-color;
					&:last-child {
					border-bottom: none;
					}
				
					a {
					padding: 5px 20px;
					} 
			}
			
			@media (min-width: $screen-sm-min) {
				width: 80%;
				margin-left: 10%;
				
			}
		}
		
		
		
		
		
	}
	
	.open > .dropdown-toggle.btn-default {
		background-color: $base-color;
		border-color: $dark-shade;
		}
	
	
	.gallery {
		padding: 0;
		.thumb {
			margin-bottom: $spacer*2;	
		}
		
	}
	
	
	.index & h1 span {
	color: #ffffff;
	}
	
	.awards & {
		h1 {
		@include titles (41%);
			@media (min-width: $screen-sm-min) {
				@include titles (16%);
			}
		}
		
		h2 {
		text-align: center;
		font-size: $paragraph-size;
		width: 60%;
		margin: $spacer + 15 auto $spacer + 5 auto;
		}
		
		.awards-cat {
			ul {
			padding: 0;
			}
			
			li {
			width: 100%;
			text-transform: uppercase;
			font-size: $paragraph-size - 0.4;
			list-style: none;
			padding: 30px;
			background-color: $medium-shade;
			color: #ffffff;
			margin-bottom: $spacer / 2;
			}
		}
		
		section {
			float: left;
			margin-bottom: $spacer*1.5;
			
			p {
			text-align: left;
			}
			
			@media (min-width: $screen-sm-min) {
				margin-bottom: $spacer*3;
				h3 {
				margin-top: 0;
				}
			}
		}
		
		.judges {
			@media (min-width: $screen-sm-min) {
			margin-top: $spacer*5;
			}
		
		}
	}
	
	.sponsors & {
		h1 {
		@include titles (44%);
			@media (min-width: $screen-sm-min) {
				@include titles (20%);
			}
		}
		
		
		.sponsor-logo {			
		margin-bottom: $spacer*1.5;
		}
		
	}
	
	.contact & {
		h1 {
		@include titles (42%);
			@media (min-width: $screen-sm-min) {
				@include titles (20%);
			}
		}
		
		@media (min-width: $screen-sm-min) {
			p {
			text-align: left;
			}
		}
		
		.address, .tel, .email {
			p {
			text-align: left;
			font-size: $paragraph-size - 0.2;
			}
			
			h2 {
			font-size: $headline-size - 3.5;
			}
			
			a {
			color: $dark-shade;
			text-decoration: none;
			}
		}
		
		
	}
	
	aside {
		ul {
		float: left;
		width: 100%;
		display: block;
		padding: 0;
		margin-bottom: 25px;
			li {
				list-style: none;
				float: left;
				width: 31.33%;
				margin-right: 3%;
					&:last-child {
					margin-right: 0;
					}
					
					
			}
		}
		
		a {
		text-transform: uppercase;
		font-size: $button-links - 0.2;
		text-align: center;
		border: 1px solid #ffffff;
		padding-top: 22px;
		color: #ffffff;
		display: block;
		height: 60px;
			&:hover {
			text-decoration: none;
			background: $dark-shade;
			border: 0;
			color: #ffffff;
			}
			
			&.active {
			background: $dark-shade;
			color: #ffffff;
			border: 0;
			}
		}
	}
}


footer {
float: left;
width: 100%;
margin-top: $spacer * 2;
	li {
	background-color: $medium-shade;
	margin-bottom: 3px;
	}
	
	a {
	color: $base-color;
	text-transform: uppercase;
		span {
		color: $base-color;
		}
		&.active {
		color: #ffffff;
		}
		&:hover {
		color: $base-color;
		}
	}
	
	
}

.copyright {
margin-top: $spacer * 2;
font-size: $button-links - 0.1;
color: lighten($base-color, 40%);

	p {
	text-align: right;
	}
	
@media (min-width: $screen-sm-min) {
	margin-top: $spacer * 7;
	p {
	text-align: center;
	}
}

}

nav {
	li {
	border-bottom: 1px solid $base-color;
		a:hover, a.active {
		background-color: $base-color !important;
		color: #ffffff !important;
			@media (min-width: $screen-sm-min) {
			background-color: transparent !important;
			color: $secondary-color !important;
			}
		}
		&:last-child {
		border-bottom: none;
		}
		
		@media (min-width: $screen-sm-min) {
			border-bottom: none;
		}
	}
	
	ul {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
		@media (min-width: $screen-sm-min) {
			float: right !important;
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		.navbar-collapse.collapse {
		height: 110px !important;
		}
	}
	
}

button {
	&:hover {
	color: $base-color;
	}
}