@font-face {
  font-family: 'Novecentosanswide-Bold';
  src: url("../webfonts/2B7AD1_0_0.eot");
  src: url("../webfonts/2B7AD1_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2B7AD1_0_0.woff") format("woff"), url("webfonts/2B7AD1_0_0.ttf") format("truetype"); }
body {
  background-color: #58c3bb;
  color: #0e2725; }

article h1 {
  font-family: "Novecentosanswide-Bold", helvetica, arial, sans-serif;
  font-size: 5em;
  text-align: center; }
article p {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.2em;
  text-align: center; }
article .button {
  margin-top: 30px;
  font-size: 0.9em;
  font-family: helvetica, arial, sans-serif;
  float: none; }
  article .button a {
    color: black;
    border: 1px solid #ffffff;
    padding: 10px; }
    article .button a:hover {
      text-decoration: none;
      color: #ffffff; }
article .dropdown {
  display: inline-block;
  width: 100%;
  margin: 22.5px 0; }
  article .dropdown .btn-default {
    background-image: none;
    background-color: #58c3bb;
    text-shadow: none;
    border-color: #0e2725;
    box-shadow: none;
    webkit-box-shadow: none; }
article .gallery {
  padding: 0; }
  article .gallery li {
    list-style: none;
    margin-bottom: 15px;
    padding: 0; }
.index article h1 span {
  color: #ffffff; }
.awards article h1 {
  margin: 25px auto;
  width: 35%;
  font-size: 2em;
  border-bottom: 8px solid #0e2725;
  padding-bottom: 8px; }
.awards article h2 {
  text-align: center;
  font-size: 1.2em;
  width: 40%;
  margin: 30px auto 20px auto; }
.awards article .awards-cat ul {
  padding: 0; }
.awards article .awards-cat li {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8em;
  list-style: none;
  padding: 30px;
  background-color: #30857f;
  color: #ffffff;
  margin-bottom: 7.5px; }
.awards article section p {
  text-align: left; }
.sponsors article h1 {
  margin: 25px auto;
  width: 41%;
  font-size: 2em;
  border-bottom: 8px solid #0e2725;
  padding-bottom: 8px; }
.sponsors article ul {
  padding: 0; }
  .sponsors article ul li {
    list-style: none;
    padding: 0;
    margin-bottom: 22.5px; }
.contact article h1 {
  margin: 25px auto;
  width: 38%;
  font-size: 2em;
  border-bottom: 8px solid #0e2725;
  padding-bottom: 8px; }
.contact article .address p, .contact article .tel p, .contact article .email p {
  text-align: left;
  font-size: 1em; }
.contact article .address h2, .contact article .tel h2, .contact article .email h2 {
  font-size: 1.5em; }
article aside ul {
  float: left;
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 25px; }
  article aside ul li {
    list-style: none;
    float: left;
    width: 31.33%;
    margin-right: 10px; }
    article aside ul li:last-child {
      margin-right: 0; }
article aside a {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 15px;
  display: block;
  height: 100%; }
  article aside a:hover {
    text-decoration: none;
    background: #0e2725;
    border: 0;
    padding: 16px 15px;
    color: #ffffff; }
  article aside a.active {
    background: #0e2725;
    color: #ffffff;
    border: 0;
    padding: 16px 15px; }

footer {
  float: left;
  width: 100%;
  margin-top: 30px; }
  footer li {
    background-color: #30857f;
    margin-bottom: 3px; }
  footer a {
    color: #58c3bb;
    text-transform: uppercase; }
    footer a span {
      color: #58c3bb; }
    footer a.active {
      color: #ffffff; }
    footer a:hover {
      color: #58c3bb; }

.copyright {
  margin-top: 30px;
  font-size: 0.8em;
  color: #eef9f8; }
  .copyright p {
    text-align: right; }

nav li {
  border-bottom: 1px solid #58c3bb; }
  nav li a:hover {
    background-color: #58c3bb !important;
    color: #ffffff !important; }
  nav li:last-child {
    border-bottom: none; }
  nav li a.active {
    background-color: #58c3bb !important;
    color: #ffffff !important; }
nav ul {
  margin-bottom: 0 !important;
  margin-top: 0 !important; }

button:hover {
  color: #58c3bb; }
